{% extends "base.html" %}

{% load crispy_forms_tags %}   
  
  
{% block content %}
<div class=" row d-flex align-items-center justify-content-center " style="margin-top:5% ;"" >
	<h4 style="margin-top:5% ;">Login </h4>
<div style="border: 2px solid rgba(0, 0, 255, 0.418); width: 400px; padding: 25px; border-radius: 15px;">

		<form method="post">
			<!-- Email input -->
			{% csrf_token %}
			{{ form | crispy }}
			<br>
			
			<button type="submit" class="btn btn-primary">
				Sign in
			</button>
			
		</form>
		<!-- 2 column grid layout for inline styling -->
		<div class="row mb-4">

			<div class="text-center">
				<!-- Simple link -->
				<a href="/accounts/password/reset/">Forgot password?</a>
				<p>Not a member? <a href="/accounts/signup/">Register</a></p>
				<p>or sign up with:</p>
				<a href="/accounts/google/login/?process=login"> <i class="bi bi-google"></i> </a>

			</div>
	</div>

</div>

{% endblock content %}