{% extends "base.html" %}

{% load bootstrap5 %} {# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %} {# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

<div class="container">
    <h1>Password Reset</h1>
    <p>We have sent you an e-mail. If you have not received
        it please check your spam folder. Otherwise contact us
        if you do
        not receive it in a few minutes.
    </p>

    {% buttons %}
    <a href=" {% url 'task:home'  %}">
        <buttons type="submit" class="btn btn-primary">
            Home
            </button>
    </a>

    {% endbuttons %}
</div>


{% endblock content %}

{#% url 'task:home' %#}