{% extends "base.html" %}

{% load bootstrap5 %} {# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %} {# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

<div class=" row d-flex align-items-center justify-content-center ">
    
	<div style="border: 2px solid blue; width: 400px; padding: 25px; border-radius: 25px;">
	<h2>Change Password</h2>
	<hr>
	<br>
	
		<form method="post">

			{% csrf_token %}
			{% bootstrap_form form %}
			<br>
			{% buttons %}
			<button type="submit" class="btn btn-primary">
				Change password
			</button>
			{% endbuttons %}
		</form>

	</div>

</div>

{% endblock content %}

