{% extends "base.html" %}

{% load bootstrap5 %} {# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %} {# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

<div class="container">
    <h1>Password Changed successfully!!</h1>
    
    <p>Your password has now been  changed successfully. click on the the button below to login to your account.</p>.


    {% buttons %}
    <a href=" http://localhost:8000/accounts/login/">
        <buttons type="submit" class="btn btn-primary">
            Login
            </button>
    </a>

    {% endbuttons %}
</div>


{% endblock content %}

