{% extends "base.html" %}

{% load bootstrap5 %} {# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %} {# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
    
  {% if user.is_authenticated %}
    Hi {{ user.email }}!
    <p><a href="{% url 'account_logout' %}">Log Out</a></p>
  {% else %}
  <div class="text-center" >
    <div>
      <img src="https://cheqqit.herokuapp.com/static/images/homepage_image.784c37c84e47.JPG" class="img-fluid" alt="">
    </div>
    <div >
      <h4>You are not logged in, please press sign up to register </h4>
      <h4>or login to sign in if you already have an account </h4>

    </div>
    
    <div class="text-center" >
      
      <a href="{% url 'account_login' %}"> {% bootstrap_button "Log in" button_type="link" size="md" button_class="btn-primary" %} </a> 
      
      <a href="{% url 'account_signup' %}">{% bootstrap_button "Sign up" button_type="link" size="md" button_class="btn-primary" %}</a>
    </div>
  </div>
  {% endif %}


<br>
<br>
<br>
<footer class="text-center text-white" style="background-color: rgb(76, 0, 255);">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-light m-1"
        href="#!"
        role="link"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-light m-1"
        href="#!"
        role="link"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-light m-1"
        href="#!"
        role="link"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-light p-3" ">
    © 2020 Copyright:
    <a class="text-light" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>



{% endblock content %}
