{% extends "base.html" %}

{% load crispy_forms_tags %}   


  
{% block content %}
<div style="margin-top:50px" class=" container ">
    
    <h1>Tasks</h1>
    <div class="container">
        <div class="row">
        <ul>
        {% for task in tasks %}
            <div class="col-sm"> 
                <div class="card" style="width: auto;">
                
                    <div class="card-body">
                        <h5 class="card-title">{{task.title }}</h5>
                        <p class="card-text">{{task.description }}</p>
                        <a href="#" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        <br> 
        {% empty %}
            <li>No tasks yet.</li>
        {% endfor %}
        </ul>
        </div>
    </div>
    {{no_uncompleted_tasks}}
    {{uncompleted_tasks}}
    {{completed_tasks}}
    {{today_tasks}}

    {% for task in uncompleted_tasks %}
        {{task.task_due_date}}
        {{task.task_due_time}}
        {{" " }}
    {% endfor %}
{{" " }}
{{" " }}
{{" " }}
    <h2>{#date#}</h2>
</div>    
{% endblock content %}
        

