{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div style="margin-top:50px" class=" container ">

    <h3>Completed Tasks</h3>


    <form method="GET" >
        <div class="form-group">
            <input  type='text' class="form-control" name='search-area' placeholder="Search for a task..." value="{{search_input}}">
        </div>
    </form>
    <br>
    <div class="container">
        <div class="row">
            <ul>
                {% for task in completed_tasks %}
                <div class="col-sm">
                    <div class="card" style="width: auto;">
    
                        <div class="card-body">
                            <div class="row" style="margin-left: auto;">
                                <div class="col-8">
                                    <h6 class="card-title"> {{task.title|capfirst|truncatechars:20 }}</h6>
                                    <p style="color:rgb(85, 82, 82);" class="card-text"> {{task.description|truncatechars:20}}</p>
                                </div>
    
                                <div class="col-4">
                                    <a style="margin-left: 10px;"><i class="bi bi-trash3-fill"
                                            style="font-size: 1.5rem; color: orangered;" data-toggle="modal"
                                            data-target="#deleteModal{{ task.slug }}"></i></a>
    
                                    <a style="margin-left: 10px;"><i class="bi bi-pencil-square"
                                            style="font-size: 1.5rem; color: gray;" data-toggle="modal"
                                            data-target="#editModal{{ task.slug }}"></i></a>
    
                                </div>
                                <br>
                                <div style="margin-top: 5px;"><i class="bi bi-calendar-week" style="font-size: 13px;">{% if task.task_due_date %} {{task.task_due_date}} {% else %} No due date {% endif %}</i> {%if task.task_due_date %} &nbsp || &nbsp {% if task.task_due_time %}<i class="bi bi-clock" style="font-size: 13px;">{{task.task_due_time}}</i></div> {% else %} {% endif %} {% else %} {% endif %} 
                            </div>
    
    
                        </div>
                    </div>
                </div>
                {% include "task_update.html" %}
                {% include "task_delete.html" %}
                <br>
                {% empty %}
                <li>No tasks Completed.</li>
    
    
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
{% endblock content %}