{% extends "base.html" %}

{% load crispy_forms_tags %}



{% block content %}
<div style="margin-top:50px" class=" container ">

    <h3>Tasks</h3>

    <form method="GET">
        <div class="form-group">
            <input type='text' class="form-control" name='search-area' placeholder=" Search for a task..." value="{{search_input}}">
        </div>
    </form>
    <br>
    <div class="container">
        <div class="row">
            <ul>
                {% for task in uncompleted_tasks %}
                <div class="col-sm">
                    <div class="card" style="width: auto;">

                        <div class="card-body">
                            <h5 class="card-title">{{task.title }}</h5>
                            <p class="card-text">{{task.description }}</p>
                            <a href="/delete-task/{{task.slug}}" class="btn btn-danger">Delete</a> <a
                                style="margin-left: 10px;" href="/update-task/{{task.slug}}"
                                class="btn btn-success">Update</a>
                        </div>
                    </div>
                </div>
                <br>
                {% empty %}
                <li>No tasks yet.</li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
{% endblock content %}